* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primery-color {
    color: #FD6E0A;
}

.btn-primery {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and nav bar style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-tital {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-subty-title {
    font-size: 45px;
    font-weight: 600;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    text-align: center;
    margin-top: 130px;
    padding: 130px 150px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-title {
    font-size: 20px;
    color: #757575;
}

.about-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.section-title {
    margin-top: 130px;
    text-align: center;
}

.skills-container {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-titel {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.skill--description {
    margin-top: 20px;
}

/* resume style */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
    color: #474747;
}

.resume-item {
    margin: 30px 0;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
}

.resume .description {
    color: #757575;

}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact section */
.contact {
    display: flex;
    gap: 100px;
    margin-top: 130px;
    padding: 130px 200px;
    background-color: #FFF8F3;
}

.contact .section-title {
    text-align: left;
}

.contact input,
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact a {
    text-decoration: none;
    margin-right: 30px;
}